<div class="device-control-widget-container d-flex m-8">

    <div class="col-xs-12">

        <div [hidden]="!widgetHelper.getWidgetConfig().showFilters">
            <!-- Filter row-->
            <label class="c8y-switch" translate>
                <input type="checkbox" name="showrisk"
                       [(ngModel)]="widgetHelper.getWidgetConfig().atRisk"
                       (change)="updateDeviceStates()">
                <span></span> only show devices at risk
            </label>
            <div class="input-group input-group-search" style="width: 80%;">
                <input
                       type="search"
                       class="form-control"
                       placeholder="filter by name, external id, status..."
                       #assetfilter />
                <span class="input-group-addon">
                    <i c8yIcon="search"
                       *ngIf="!this.widgetHelper.getWidgetConfig().deviceFilter || this.widgetHelper.getWidgetConfig().deviceFilter.length === 0"></i>
                    <i
                       c8yIcon="times"
                       class="text-muted"
                       *ngIf="this.widgetHelper.getWidgetConfig().deviceFilter && this.widgetHelper.getWidgetConfig().deviceFilter.length > 0"
                       (click)="this.widgetHelper.getWidgetConfig().deviceFilter = ''"></i>
                </span>
            </div>

        </div>


        <!-- Device list -->
        <div class="card-group bg-gray-lighter flex-wrap flex-grow m-l-auto m-r-auto j-c-evenly">
            <div class="card m-8" style="margin-bottom: 8px;"
                 *ngFor="let mo of widgetHelper.getWidgetConfig().filteredAssets">

                <!-- HEADER -->
                <!-- <div class="card-header separator"> -->
                <div class="card-block">
                    <a *ngIf="widgetHelper.getWidgetConfig().dashboardUrl(mo) else justimage"
                       href="{{widgetHelper.getWidgetConfig().dashboardUrl(mo)}}">
                        <img
                             [ngStyle]='{height:widgetHelper.getWidgetConfig().imageHeight(),width:widgetHelper.getWidgetConfig().imageWidth()}'
                             [src]="widgetHelper.getWidgetConfig().deviceIcon(mo.name) | SafeImage"
                             alt="Device"
                             title="{{mo.name}}">
                    </a>
                    <ng-template #justimage>
                        <img [ngStyle]='{height:widgetHelper.getWidgetConfig().imageHeight(),width:widgetHelper.getWidgetConfig().imageWidth()}'
                             [src]="widgetHelper.getWidgetConfig().deviceIcon(mo.name) | SafeImage"
                             alt="Device"
                             title="{{mo.name}}">
                    </ng-template>
                    <span class=" grid-element card-title">
                        {{mo.name}}
                    </span>
                    <!-- BODY -->
                    <ng-container *ngIf="widgetHelper.getWidgetConfig().showAvailability">
                        <!--widgetHelper.getWidgetConfig().operationIcon('heartbeat')-->
                        <span
                              [ngClass]="['grid-element badge badge-pill',widgetHelper.getWidgetConfig().deviceStatus(mo)]">
                            {{widgetHelper.getWidgetConfig().deviceStatusLabel(mo)}}
                        </span>
                    </ng-container>
                    <ng-container *ngIf="widgetHelper.getWidgetConfig().showAlarms">
                        <span
                              [ngClass]="['grid-element grid-element badge badge-pill',widgetHelper.getWidgetConfig().alarmStatus(mo)]">
                            {{widgetHelper.getWidgetConfig().getAlarmCount(mo)}} alarms
                        </span>
                    </ng-container>
                    <ng-container *ngIf="widgetHelper.getWidgetConfig().showOperations">
                        <div class="button-col">
                            <div *ngFor="let op of widgetHelper.getWidgetConfig().selectedToggles">
                                <label class="c8y-switch">
                                    <input type="checkbox"
                                           [checked]="mo[op.source]"
                                           (change)="performOperation(mo,op)">
                                    <span></span>{{op.name}}
                                </label>
                            </div>
                        </div>
                        <div class="button-row">
                            <div *ngFor="let op of widgetHelper.getWidgetConfig().selectedOperations">
                                <button *ngIf="widgetHelper.getWidgetConfig().validOperation(mo,op)"
                                        style="color:#1776BF;"
                                        type="button"
                                        class="button"
                                        (click)="performOperation(mo,op)"
                                        title="{{op.name}}">
                                    <span [ngClass]="widgetHelper.getWidgetConfig().operationIcon(op)"></span>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
