<div class="device-control-widget-container">
    <div class="grid-container"
         [ngStyle]="{'grid-template-columns':widgetHelper.getWidgetConfig().columnsInWidget()}">
        <div class=" grid-item" *ngFor="let mo of widgetHelper.getWidgetConfig().assets">
            <img class=" grid-element"
                 [ngStyle]='{height:widgetHelper.getWidgetConfig().imageHeight(),width:widgetHelper.getWidgetConfig().imageWidth()}'
                 [src]="widgetHelper.getWidgetConfig().deviceIcon(mo.name) | SafeImage"
                 alt="Device"
                 title="{{mo.name}}">
            <span class=" grid-element">
                {{mo.name}}
            </span>
            <ng-container *ngIf="widgetHelper.getWidgetConfig().showAvailability">
                <!--widgetHelper.getWidgetConfig().operationIcon('heartbeat')-->
                <span
                      [ngClass]="['grid-element badge badge-pill',widgetHelper.getWidgetConfig().deviceStatus(mo)]">
                    {{widgetHelper.getWidgetConfig().deviceStatusLabel(mo)}}
                </span>
            </ng-container>
            <ng-container *ngIf="widgetHelper.getWidgetConfig().showAlarms">
                <span
                      [ngClass]="['grid-element grid-element badge badge-pill',widgetHelper.getWidgetConfig().alarmStatus(mo)]">
                    {{widgetHelper.getWidgetConfig().getAlarmCount(mo)}} alarms
                </span>
            </ng-container>
            <ng-container *ngIf="widgetHelper.getWidgetConfig().showOperations">
                <div class="button-row">
                    <div *ngFor="let op of widgetHelper.getWidgetConfig().getOperationsList()">
                        <button *ngIf="widgetHelper.getWidgetConfig().validOperation(mo,op)"
                                style="color:#1776BF;"
                                type="button"
                                class="button"
                                (click)="performOperation(mo,op)">
                            <span [ngClass]="widgetHelper.getWidgetConfig().operationIcon(op)"></span>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
